{% extends 'base/base.html' %}

{% block body %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Z-FIRE</title>
 </head>
 <body> 
  <p><img src="https://avatars.mds.yandex.net/i?id=087b199eb2d5e50b889e65dd46565f0b_l-4388983-images-thumbs&n=13" width="400" height="400" 
  alt="Иллюстрация" align="left" 
  vspace="5" hspace="5">
  Программа разработана для анализа видео, поступающего с камер летательных аппаратов, 
  с целью обнаружения критических ситуаций и немедленного уведомления оператора. 
  Используя алгоритмы машинного обучения и искусственного интеллекта, 
  программа способна автоматически определять различные типы «триггеров», 
  таких как пожары, подозрительная активность и прочие чрезвычайные ситуации. 
  При обнаружении одного из таких событий программа немедленно передает сигнал тревоги ответственному лицу, 
  предоставляя детальную информацию о происходящем. 
  Эта технология значительно ускоряет процесс реагирования на чрезвычайные ситуации, 
  улучшает уровень безопасности и снижает риск человеческих ошибок.</p> 
 </body>
</html>
{% endblock %}